
.nav {
    position: relative;
    width: 100%;
    overflow: scroll;
    margin-bottom: 5px;
}

div.nav-close {
    width: 1825px;
    height: 30px;
    color: black;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
}

.nav-close .navspan {
    float: left;
    margin-right: 42px;
}

.nav-close .navspan-active {
    color: #FB7299;
    font-weight: bold;
    height: 30px;
    border-bottom: solid 3px;
    border-color: #FB7299;
}

div.vilist {
    padding: 0;
    margin: 0;

}

.video-item {
    float: left;
    width: calc(50% - 10px);
    height: 160px;
    padding: 2px 3px 3px 5px;
    /*上 右 下 左*/
}

.video-item>.video-head {
    width: 100%;
}

.video-item img {
    width: 100%;
}

.video-item .video-count {
    position: relative;
    height: 25px;
    margin-top: -25px;
    color: #ffffff;
    background-image: linear-gradient(to bottom, hsl(0deg 0% 24% / 0%), rgb(0 0 0));

}

.count-left {
    float: left;
    margin-left: 5px;

}

.count-right {
    float: right;
    margin-right: 5px;
    color: #ffffff;
}

.video-item>span {
    font: -webkit-mini-control;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: black;
}

.text {
    position: relative;
    bottom: -11px;
}

.nub {
    position: relative;
    right: -10px;
    top: -3px;
}

a:link {
    text-decoration: none;
}

.openapp .nav .logo>img {
    width: 10.66667vmin;
    height: 11.73333vmin;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    left: 12vmin;
    top: 809px;
    position: fixed;
    z-index: 999;
    transform: scale(0.6, 0.6);
}

.xds {
    width: 390px;
    height: 30px;
    background: #fb7299;
    color: white;
    border-radius: 25px;
    padding: 0px 0px 7px 0px;
    text-align: center;
    line-height: 40px;

    margin-top: 720px;
    position: fixed;
    z-index: 99;

}