<div class="header">
    <img src="assets/modules/bvideo/img/捕获.PNG" alt="" align="left">
    <a>
        <img src="assets/modules/bvideo/img/e.PNG" alt="" align="right">
        <a>
            <div class="tx"><img src="assets/modules/bvideo/img/w.PNG" alt="" align="right" width="40"
                    style="transform: translateY(-3px);"></div>
            <input (keyup)="search()" type="text" [(ngModel)]="inputText">
            <a (click)="search()"><img src="assets/modules/bvideo/img/q.PNG" alt="" align="right"></a>
        </a>
    </a>
</div>