div.header {
    width: 100%;
    height: 50px;
    background-color: white;
}

.header .tx>img {

    margin-right: 10px;
    margin-left: 15px;

}

.openapp {
    width: 414px;
    height: 42px;
    background: white;

}

a .nav {
    width: 390px;
    height: 30px;
    background: #fb7299;
    color: white;
    border-radius: 25px;
    padding: 0px 0px 7px 0px;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;

}

a:link {
    text-decoration: none;
}

.openapp .nav .xds>img {
    position: absolute;
    width: 10.66667vmin;
    height: 11.73333vmin;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    left: 8vmin;
    top: 295px;
}

.info {
    width: 100%;
    height: 90px;
}

.item {
    width: 414px;
    height: 20px;

}

.nav-title {

    padding: 0;
    margin: 0px;
    width: 100%;



}

.hot {
    float: left;
    width: 53px;
    display: inline-block;
    font-size: 1;
    padding: 0 1.6vmin;
    height: 22px;
    line-height: 5.33333vmin;
    background: #f4f4f4;
    border-radius: 3.2vmin;
    margin-left: 9px;
    margin-top: 12px;
    transform: scale(1, 1);
}




.title {
    float: left;
    width: 95%;
    margin-top: -20px;
    margin-left: 5px;
    text-indent: 76px;
    font-size: 4.26667vmin;
    font-weight: 400;
}

.up {
    width: 388px;
    height: 40px;
}

.face {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.pic {
    width: 32px;
    height: 32px;
}

.pic img {
    width: 100%;
    height: 100%;
}

.face-name {
    margin-left: 8px;
}

.tupian {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.tupian .img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.tupian .img img {
    width: 100%;
    height: 100%;
}

.vlist {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    overflow: hidden;
}

.video-item {

    float: left;
    width: calc(50% - 10px);
    height: 160px;
    padding: 2px 3px 3px 5px;
    /*上 右 下 左*/
}

.video-item>.video-head {
    width: 100%;
}

.video-item img {
    width: 100%;
    border-radius: 6px;
}

.video-item .video-count {
    position: relative;
    height: 25px;
    margin-top: -25px;
    color: #ffffff;
    background-image: linear-gradient(to bottom, hsl(0deg 0% 24% / 0%), rgb(0 0 0));

}

.count-left {
    float: left;
    margin-left: -5px;
    transform: scale(0.8);

}



.span-right{
    font-size: 13px;
    position: absolute;
    right: 6px;
    z-index: 1;
}


.video-item>span {
    font: -webkit-mini-control;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: black;
}

.text {
    position: relative;
    bottom: -11px;
}

.nub {
  
}
.bottom-tabs{
    padding: 10px 5px 0px 5px;
}
.tab-more{
    float: right;
}
.span-tab{ 
    padding-left: 2px;
}