.openapp {
    width: 414px;
    height: 42px;
    background: white;

}

a .nav {
    width: 390px;
    height: 30px;
    background: #fb7299;
    color: white;
    border-radius: 25px;
    padding: 0px 0px 7px 0px;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;

}

a:link {
    text-decoration: none;
}

.openapp .nav .xds>img {
    position: absolute;
    width: 10.66667vmin;
    height: 11.73333vmin;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    left: 8vmin;
    top: 284px;
}

.item {
    width: 414px;
    height: 94px;

}

.nav-title {

    padding: 0;
    margin: 0px;
    width: 100%;



}

.hot {
    float: left;
    width: 53px;
    display: inline-block;
    font-size: 1;
    padding: 0 1.6vmin;
    height: 20px;
    line-height: 5.33333vmin;
    background: #f4f4f4;
    border-radius: 3.2vmin;
    margin-left: -9px;
    margin-top: 2px;
    transform: scale(0.7, 0.7);
}

.title {
    float: left;
    width: 95%;
    margin-top: -20px;
    margin-left: 5px;
    text-indent: 45px;
}