.example-card {
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.cover-img{
    width:100%;
    height:150px;
}

.example-header-image {
    background-size: cover;
    img{
        width:100%;
    }
}