<div class="video-item">
    <div class="video-head">
        <img src="{{video.imge}}"
            alt="{{video.title}}">
        <div class="video-count">
            <div class="count-left"><img src="assets/modules/bvideo/img/24gl-playSquare (1).png" alt=""
                    style="width: 20px;"><span class="nub">{{video.countLike}}</span></div>
            <div class="count-right"><img src="assets/modules/bvideo/img/弹幕.png" style="width: 20px;" alt=""
                    style="width: 20px;">{{video.countComment}}</div>
        </div>
    </div>
    <span class="text">{{video.title}}</span>
</div>