
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    <span>评论管理</span>

    <span class="example-spacer"></span>

    <button (click)="search()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>search</mat-icon>
      </button>
    <mat-form-field class="example-full-width">
        <mat-label>搜索内容</mat-label>
        <input (keyup)="search($event)" matInput placeholder="请输入..." [(ngModel)]="searchText">
        <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
            <mat-icon>close</mat-icon>
          </button>
    </mat-form-field>

    <span class="example-spacer"></span>

    <!-- <mat-form-field class="example-form-field">
        <mat-label>搜索内容</mat-label>
        <input matInput type="text" [(ngModel)]="searchText">
        <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> -->
    <button class="trush-button" mat-mini-fab [matBadge]="deleteCount" matBadgeOverlap="false"
    (click)="onShowDelete()" [color]="showDelete?'warn':'accent'">
        <mat-icon>delete</mat-icon>
    </button>
    <button (click)="addNewGameComment()" mat-mini-fab  color="primary">
      <mat-icon>add</mat-icon>
    </button>
    
  </mat-toolbar>



<ng-container *ngFor="let comment of GameCommentList">
    <nova-commentitem
     [comment]="comment"
     (delete)="deleteGameComment($event)"
     (edit)="editGameComment($event)"
     (restore)="deleteGameComment($event,true)"
     >
    </nova-commentitem>
</ng-container>
