# 测试报告的自动生成
- karma
- cypress

测试报告